
%container {
  width     : 92%;
  //noinspection CssOverwrittenProperties
  max-width : 768px;
  //noinspection CssOverwrittenProperties
  max-width : 68ch;
  margin    : 0 auto;
}

.container, section,
article, hgroup {
  @extend %container;
}

body>header:first-of-type,
body>footer:last-of-type {
  width : 100vw;
  padding : 2em 0;
  background-color : ghostwhite;
}

main {
  flex-grow : 1;
  padding : 2em 0;
  width : 100vw;
  background-color : #ffffff;
  section  {
    padding : 1em 0;
    margin-bottom : 2em;
  }
}

body {
  display : flex;
  flex-direction : column;
  justify-content : space-between;
  height : 100%;
  min-height : 100vh;
}

nav {
  background-color : $color--navbar-bg;
  color: $color--navbar-color;
  width : 100%;
  transition : all 120ms;
  ul, li, a {
    background-color : $color--navbar-bg;
    color            : $color--navbar-color;
    margin : 0;
    padding : 0;
    transition : all 120ms;
  }
  a, a:link, a:visited {
    text-decoration : none !important;
    display : block;
    margin : 0;
    width : 100%;
    text-align : center;
    padding : 1em 0;
    border : solid 2px $color--navbar-bg;
    cursor : pointer;
    user-select : none !important;

    &[aria-current="page"] {
      color: rgba(white,0.25);
      background-color : darken($color--navbar-bg, 5%);
      border-color : darken($color--navbar-bg, 5%);
      pointer-events: none;
    }

    &:hover {
      $_this-color: darken($color--navbar-bg, 8%);
      background-color : $_this-color;
      border-color : $_this-color;
      color: darken($color--navbar-color, 8%);
    }
    &:focus {
      $_this-color     : darken($color--navbar-bg, 15%);
      background-color : $_this-color;
      border-color     : $color--primary;
      color            : darken($color--navbar-color, 15%);
      outline : rgba($color--primary, 0.25) 4px solid;
      outline-offset: -2px;
    }
    &:active {
      $_this-color     : darken($color--navbar-bg, 20%);
      background-color : $_this-color;
      border-color     : $_this-color;
      color            : darken($color--navbar-color, 20%);
    }
  }


  @include min-width(560px) {
    ul {
      width     : 92%;
      //noinspection CssOverwrittenProperties
      max-width : 768px;
      //noinspection CssOverwrittenProperties
      max-width : 68ch;
      margin    : 0 auto;
      display : flex;
      flex-direction : row;
      align-items : center;
      align-content : center;
      justify-content : flex-end;

      li {
        width : unset;
        display : inline-block;

        a {
          width : unset;
          padding : 1em !important;
        }
      }
    }
  }
}
