
nav {
	line-height : 1 !important;
	margin      : 0 !important;
	padding     : 0 !important;

	ul {
		line-height : 1 !important;
		// margin-bottom : 0 !important;
		margin      : 0 auto !important;
		padding     : 0 !important;

		li {
			line-height    : 1 !important;
			margin         : 0 !important;
			padding        : 0 !important;
			vertical-align : middle;

			a {
				line-height    : 1 !important;
				margin         : 0 !important;
				padding        : 1em !important;
				text-align     : center;
				vertical-align : middle;
			}
		}
	}
}
